<nav class="main-nav row">
    <a class="title text-secondary col-auto cursor" [routerLink]="['/studio']" routerLinkActive="active">
        <span> STUDIO </span>
    </a>
    <a class="title text-secondary col-auto cursor" [routerLink]="['/team']" routerLinkActive="active">
        | <span class="ml-2"> TEAM </span>
    </a>
    <a class="title text-secondary col-auto cursor" [routerLink]="['/collaborators']" routerLinkActive="active">
        | <span class="ml-2"> COLLABORATORS </span>
    </a>
</nav>
<section class="full">
    <div class="text">
        <h4> ARCHITECTS </h4>
        <div class="row">
            <span class="col-xl-3 col-6 mb-1">Aidlin-Darling Design</span>
            <span class="col-xl-3 col-6 mb-1">Aidlin-Darling Design</span>
            <span class="col-xl-3 col-6 mb-1">Aidlin-Darling Design</span>
            <span class="col-xl-3 col-6 mb-1">Aidlin-Darling Design</span>
            <span class="col-xl-3 col-6 mb-1">Aidlin-Darling Design</span>
            <span class="col-xl-3 col-6 mb-1">Aidlin-Darling Design</span>
            <span class="col-xl-3 col-6 mb-1">Aidlin-Darling Design</span>
            <span class="col-xl-3 col-6 mb-1">Aidlin-Darling Design</span>
            <span class="col-xl-3 col-6 mb-1">Aidlin-Darling Design</span>
            <span class="col-xl-3 col-6 mb-1">Aidlin-Darling Design</span>
            <span class="col-xl-3 col-6 mb-1">Aidlin-Darling Design</span>
            <span class="col-xl-3 col-6 mb-1">Aidlin-Darling Design</span>
            <span class="col-xl-3 col-6 mb-1">Aidlin-Darling Design</span>
            <span class="col-xl-3 col-6 mb-1">Aidlin-Darling Design</span>
            <span class="col-xl-3 col-6 mb-1">Aidlin-Darling Design</span>
            <span class="col-xl-3 col-6 mb-1">Aidlin-Darling Design</span>
            <span class="col-xl-3 col-6 mb-1">Aidlin-Darling Design</span>
            <span class="col-xl-3 col-6 mb-1">Aidlin-Darling Design</span>
            <span class="col-xl-3 col-6 mb-1">Aidlin-Darling Design</span>
            <span class="col-xl-3 col-6 mb-1">Aidlin-Darling Design</span>
            <span class="col-xl-3 col-6 mb-1">Aidlin-Darling Design</span>
            <span class="col-xl-3 col-6 mb-1">Aidlin-Darling Design</span>
            <span class="col-xl-3 col-6 mb-1">Aidlin-Darling Design</span>
            <span class="col-xl-3 col-6 mb-1">Aidlin-Darling Design</span>
            <span class="col-xl-3 col-6 mb-1">Aidlin-Darling Design</span>
            <span class="col-xl-3 col-6 mb-1">Aidlin-Darling Design</span>
            <span class="col-xl-3 col-6 mb-1">Aidlin-Darling Design</span>
            <span class="col-xl-3 col-6 mb-1">Aidlin-Darling Design</span>
            <span class="col-xl-3 col-6 mb-1">Aidlin-Darling Design</span>
            <span class="col-xl-3 col-6 mb-1">Aidlin-Darling Design</span>
            <span class="col-xl-3 col-6 mb-1">Aidlin-Darling Design</span>
            <span class="col-xl-3 col-6 mb-1">Aidlin-Darling Design</span>
        </div>
    </div>
    <img src="http://groundstudio.com/wp-content/uploads/2013/03/027.jpg" alt="image">
</section>