<nav class="main-nav row">
    <a class="title text-secondary col-auto cursor" [routerLink]="['/studio']" routerLinkActive="active">
        <span> STUDIO </span>
    </a>
    <a class="title text-secondary col-auto cursor" [routerLink]="['/team']" routerLinkActive="active">
        | <span class="ml-2"> TEAM </span>
    </a>
    <a class="title text-secondary col-auto cursor" [routerLink]="['/collaborators']" routerLinkActive="active">
        | <span class="ml-2"> COLLABORATORS </span>
    </a>
</nav>
<section class="full">
    <div class="text">
        <div class="row">
            <a class="col-auto small text-dark cursor mb-1" [routerLink]="['/team-detail',2]">Aidlin-Darling Design</a>
            <a class="col-auto small text-dark cursor mb-1" [routerLink]="['/team-detail',2]">Aidlin-Darling Design</a>
            <a class="col-auto small text-dark cursor mb-1" [routerLink]="['/team-detail',2]">Aidlin-Darling Design</a>
            <a class="col-auto small text-dark cursor mb-1" [routerLink]="['/team-detail',2]">Aidlin-Darling Design</a>
            <a class="col-auto small text-dark cursor mb-1" [routerLink]="['/team-detail',2]">Aidlin-Darling Design</a>
            <a class="col-auto small text-dark cursor mb-1" [routerLink]="['/team-detail',2]">Aidlin-Darling Design</a>
            <a class="col-auto small text-dark cursor mb-1" [routerLink]="['/team-detail',2]">Aidlin-Darling Design</a>
            <a class="col-auto small text-dark cursor mb-1" [routerLink]="['/team-detail',2]">Aidlin-Darling Design</a>
            <a class="col-auto small text-dark cursor mb-1" [routerLink]="['/team-detail',2]">Aidlin-Darling Design</a>
            <a class="col-auto small text-dark cursor mb-1" [routerLink]="['/team-detail',2]">Aidlin-Darling Design</a>
            <a class="col-auto small text-dark cursor mb-1" [routerLink]="['/team-detail',2]">Aidlin-Darling Design</a>
            <a class="col-auto small text-dark cursor mb-1" [routerLink]="['/team-detail',2]">Aidlin-Darling Design</a>
        </div>
        <p class="text-dark mt-2">
            Founding Partner
        </p>
        <p class="text-dark">
            Bernard arrived in Northern California in 1995 and soon after fell in love with this land. He is the
            founding principal and design director of Ground Studio, formerly Bernard Trainor + Associates. Drawing on
            thirty-five years of passionate commitment to the study and practice of landscape design, he is involved
            with his collaborative studio team on every landscape project from conception to completion. Throughout the
            years, he has completed four academic programs, practiced professionally in three countries, and continues
            to lecture extensively on the subject of Landscape Design throughout the world.

            His award-winning projects range from small gardens to extensive rural properties, and have been featured in
            a wide range of books and publications throughout the world including the New York Times, Vogue Living,
            Garden Design, and the monograph Landprintssolely devoted to the studio’s work published by Princeton
            Architectural Press.

            Bernard was raised on the Mornington Peninsula along Australia’s rugged South Eastern Coast, not far from
            the city of Melbourne. It was here that he developed a lasting awareness and appreciation of the native
            landscape that led to horticultural and design studies. Following an apprenticeship, he was awarded a
            scholarship that allowed him to move to England and study under the famed plantswoman and garden designer
            Beth Chatto. Her regionally appropriate planting designs further developed Bernard’s design philosophy and
            subsequently the direction of his landscape designs that followed. Her influence was significant. In the
            years that followed Bernard then completed a Diploma of Landscape Design while studying at the Chelsea
            Physic Garden.

            In practice, the geographical diversity of his educational and work experiences cultivated a deep
            appreciation for California’s unique regional qualities and culture. “Whilst traveling I soon discovered my
            favorite art, architecture and landscapes are deeply connected to the place from which they have ‘grown’ ”.
            This simple observation and a keen awareness of the regional context inform every design project.
        </p>
    </div>
    <img class="full-img" src="http://groundstudio.com/wp-content/uploads/2013/03/xBt_New.jpg.pagespeed.ic.mWVqx3Oajp.webp" alt="image">
</section>