<nav class="main-nav row">
    <a class="title text-secondary col-auto cursor" [routerLink]="['/studio']" routerLinkActive="active"  >
        <span> STUDIO </span>
    </a>
    <a class="title text-secondary col-auto cursor" [routerLink]="['/team']" routerLinkActive="active" >
        | <span class="ml-2"> TEAM </span>
    </a>
    <a class="title text-secondary col-auto cursor" [routerLink]="['/collaborators']" routerLinkActive="active">
        | <span class="ml-2"> COLLABORATORS </span>
    </a>
</nav>
<section class="full">
    <div class="text">
        Formerly Bernard Trainor + Associates, we are now Ground Studio, honoring the collaboration inherent in our team
        of artists and designers working together to envision and craft contextual California landscapes. We
        thoughtfully balance the character of the land, the identity of the architecture, and the lifestyles of people
        who live there. <br><br>

        Designing in a range of scales from compact urban gardens to expansive rural sites, we listen and observe to
        ensure the essence of the place is revealed.<br><br>

        Our designs inspire a deep connection with the land. <br><br>

        We regard the design of outdoor space as both a technical and artistic expression that carefully balances the
        overall needs of the people with the story of the land. Our approach celebrates the individual personalities and
        interests of our clients with the inherent site conditions ranging from compact urban gardens to expansive rural
        landscapes. By engaging with clients in a spirited process of discovery, we strive to design outdoor spaces that
        inspire people to connect with the place in a deeper way. <br><br>

        We work throughout California where the Pacific Ocean converges with coastal mountains to create a twisting,
        folding landscape that presents many climatic, topographical, and geological variations. Warm inland valleys lie
        adjacent to foggy coastal inlets and windswept peaks, each microclimate presenting us with unique design
        opportunities. Informed by meticulous observation, we embrace the opportunities with a versatility and
        adaptiveness to each site. Our site and analysis visits document the natural occurrences of water movement, soil
        types, vegetation, natural materials, color, form, texture, viewshed, and seasonal dynamics. Site patterns are a
        repository of meaning; there are clues within this complexity, and we investigate their presence and purpose. By
        celebrating and building upon the patterns of place, rather than manipulating it into something it is not, our
        ideas are expressed with clarity and imbue landscapes with a true sense of place. <br><br>

        Each project requires us to approach the design with flexibility and a diversity of skills and ideas. Rural
        projects offer an opportunity to explore simplicity in harmony with the pure, wild and historic. Embedded within
        expansive California landscapes, these natural sites are powerful; a strong vision and quiet boldness are
        required to respond appropriately to the scale of the landscape. Utilizing regionally appropriate materials, and
        designing spaces with efficiency and resourcefulness in mind, our thoughtful yet vivid gestures create spaces
        that connect and ground us with the environment. <br><br>

        In contrast, urban projects challenge us to create something from nothing, strongly reflecting the personalities
        and interests of our clients with meaningful private spaces that provide sanctuary from the everyday chaos.
        These sites are often located in built-up areas, and designing within a city fabric is an exercise in functional
        and spatial overlap. We embrace the opportunity, creating symbolic gardens meant to commemorate the where, how
        and why we live. <br><br>

        In approaching every project, we begin by listening, observing and exploring the connections between human,
        built and natural systems. Essentially, we seek out elegant solutions that elevate the spirit and poetry of a
        landscape.<br><br>


    </div>
    <img src="http://groundstudio.com/wp-content/uploads/2013/03/027.jpg" alt="image">
</section>