/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";


*{
    font-family: 'Lato', sans-serif;
}

.full, html, body{
    height: 100%;
}

.full{
    overflow: hidden;
}

.cursor{
    cursor: pointer;
}

a:hover{
    text-decoration: none!important;
}

.initial-p{
    padding: 3rem 3rem 0 3rem;
}

@media (max-width: 991px) {
    .initial-p{
        padding: 0;
    }
}